language: elixir

# Default Elixir and OTP versions
elixir: '1.8'
otp_release: '21.3'
elixir:
  - 1.6
  - 1.7
  - 1.8
  - 1.9
otp_release:
  - 20.3.8
  - 21.3
  - 22.0
matrix:
  exclude:
  - elixir: 1.6
    otp_release: 22.0

script:
  - travis_retry mix test
  - cd interop && mix deps.get && mix run script/run.exs && cd -
  - if [ "$TRAVIS_EVENT_TYPE" = "cron" ]; then cd interop && mix deps.get && mix run script/run.exs --rounds 5000 && cd -; fi
  # Disable now because of https://github.com/rrrene/inch_ex/issues/67
  # Report only on latest Elixir version
  # - '[[ "$TRAVIS_ELIXIR_VERSION" =~ 1.[4-8] ]] || mix inch.report'
  # Check formatting for latest versions because the result may be different for
  # different versions
  - '[[ "$TRAVIS_ELIXIR_VERSION" =~ 1.[4-8] ]] || mix format --check-formatted'
  - mix hex.build
  - mix docs
