name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

jobs:
  check_format:
    runs-on: ubuntu-latest
    name: Check format
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 26.1.x
          elixir-version: 1.15.x
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        id: mix-cache # id to use in retrieve action
        with:
          path: deps
          key: v1-${{ matrix.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Install Dependencies
        run: mix deps.get 1>/dev/null
      - name: Check format
        run: mix format --check-formatted
  tests:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [24.x, 25.x, 26.1.x]
        elixir: [1.15.x]

    needs: check_format
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        id: mix-cache # id to use in retrieve action
        with:
          path: deps
          key: v1-${{ matrix.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Install Dependencies
        run: mix setup 1>/dev/null
      - name: Run Tests
        run: mix test --warnings-as-errors
  interop-tests:
    runs-on: ubuntu-latest
    name: Interop tests
    needs: check_format
    if: ${{ github.ref != 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 26.1.x
          elixir-version: 1.15.x
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        id: mix-cache # id to use in retrieve action
        with:
          path: deps
          key: v1-${{ matrix.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Install Dependencies
        run: mix deps.get 1>/dev/null
        working-directory: ./interop
      - name: Run interop tests
        run: mix run script/run.exs
        working-directory: ./interop

  interop-tests-all:
    runs-on: ubuntu-latest
    name: Interop tests OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    needs: check_format
    if: ${{ github.ref == 'refs/heads/master' }}
    strategy:
      matrix:
        otp: [24.x, 25.x, 26.1.x]
        elixir: [1.15.x]

    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        id: mix-cache # id to use in retrieve action
        with:
          path: deps
          key: v1-${{ matrix.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Install Dependencies
        run: mix deps.get 1>/dev/null
        working-directory: ./interop
      - name: Run interop tests
        run: mix run script/run.exs
        working-directory: ./interop

  check_release:
    runs-on: ubuntu-latest
    name: Check release
    needs: check_format
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 26.1.x
          elixir-version: 1.15.x
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        id: mix-cache # id to use in retrieve action
        with:
          path: deps
          key: v1-${{ matrix.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Install Dependencies
        run: mix deps.get 1>/dev/null
      - name: Build hex
        run: mix hex_build
      - name: Generate docs
        run: mix hex_docs
