name: CI

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

jobs:
  check_format:
    runs-on: ubuntu-latest
    name: Check format
    container:
      image: elixir:1.13-slim
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Check format
        run: mix format --check-formatted

  tests:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: [22.x, 23.x, 24.x]
        elixir: [1.10.x, 1.11.x, 1.12.x, 1.13.x]
    needs: check_format
    steps:
    - uses: actions/checkout@v2
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
        elixir-version: ${{matrix.elixir}}
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Tests
      run: mix test

  interop-tests:
    runs-on: ubuntu-latest
    name: Interop tests
    container:
      image: elixir:1.13-slim
    needs: check_format
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
      working-directory: ./interop
    - name: Run interop tests
      run: mix run script/run.exs
      working-directory: ./interop

  check_release:
    runs-on: ubuntu-latest
    name: Check release
    needs: check_format
    container:
      image: elixir:1.13-slim
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Build hex
        run: mix hex.build
      - name: Generate docs
        run: mix docs
